@page "/"
@attribute [Authorize]

<AuthorizeView>
    <Authorized>
        <h1>hello, @context.User.Identity.Name!</h1>

        Welcome to your new app.

        <SurveyPrompt Title="How is Blazor working for you?" />
    </Authorized>
    <NotAuthorized>
        You are not welcome here!
    </NotAuthorized>
</AuthorizeView>